
body {
  font-family: 'Lato';
}

.is-Raleway {
  font-family: 'Raleway';
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* headerタグ */

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
}

.header-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header-inner .fas {
  color: #333;
  font-size: 30px;
}

.button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.button:hover {
  cursor: pointer;
  color: #333;
}

.main {
  padding-top: 70px;
}

/* divタグ */

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.heading {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}


/* sectionタグ*/

.sec {
  background-color: #74cfae;
  width: 100%;
}

.sec-inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.sec-image {
  text-align: center;
  font-size: 0;
}

.sec-inner-inner {
  margin-top: 50px;
  text-align: center;
}

.sec-title {
  font-size: 24px;
}

.sec-text {
  font-size: 20px;
  padding-top: 35px;
}


/* articleタグ */

.art {
  background-color: #f2f2f2;
  width: 100%;
}

.art-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.art-title {
  font-size: 24px;
  text-align: center;
}

.art-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.art-inner-img {
  box-sizing: border-box;
  vertical-align: middle;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s ease;
  margin-top: 40px;
  margin-left: 100px;
}

.art-inner-img:nth-child(3n + 1) {
  margin-left: 0;
}

.art-inner-img:nth-child(n + 4) {
  margin-top: 80px;
}

.art-inner-img:hover {
  cursor: pointer;
  opacity: 1.0;
}

.art-text {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-size: 17px;
}

.art-text-inner {
  width: 490px;
  text-align: center;
}

.art-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.art-button:hover {
  color: #333;
  cursor: pointer;
}

.art-inner-img::before {
  content: "";
  z-index: 2;
}


/* sectinタグ2 */

.skill {
  background-color: #4e4e4e;
  width: 100%;
}

.skill-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill-title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.skill-img {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.skill-img-inner {
  display: inline-block;
  margin-left: 180px;
}

.skill-img-inner:first-child {
  margin-left: 0px;
}

.skill-img-inner-text{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}



/* navタグ*/

.sns {
  background-color: #f2f2f2;
  width: 100%;
}

.sns-inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns-inner .fab, .sns-inner .fas {
  color: #74cfae;
  display: inline-block;
  width: 185px;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sns-inner .fab:hover, .sns-inner .fas:hover {
  cursor: pointer;
  background-color: #fff;
}


/* footer */

.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.footer-text {
  color: #ffffff
}